<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3323682/pexels-photo-3323682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>Cocktails</h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>

      <% if cocktail.photo.attached? %>
        <% @path = cocktail.photo.key %>
      <% else %>
        <% @path = "https://res.cloudinary.com/drihevibr/image/upload/v1582268331/a-cup-filled-of-green-tea-with-lemon-3677150_lftutq.jpg" %>
      <% end %>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cl_image_path @path, height: 400, width: 400, crop: :fill %> )">
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      </div>
    <% end %>
  </div>
</div>
