.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#fa-cocktail {
  color: #759461;
}

.navbar-light .navbar-brand {
  color: #759461;
}

.navbar-light .navbar-brand:hover {
  color: #637d52;
  opacity: 1;
}
